.forgot-page {
  form {
    margin-top: 100px;
    text-align: center;

    input {
      border-bottom: 1px solid black;
      text-align: center;
      color: $color-1;
      font-family: $font-1;
    }
    button {
      margin-right: 20px;
    }
  }
}
